[submodule ".modules/nes-remote"]
	path = .modules/nes-remote
	url = https://github.com/pomle/nes-remote
[submodule "showcase/micro-project"]
	path = showcase/micro-project
	url = https://github.com/pomle/micro-project
